{
  "extends": "@imaginary-cloud/react",
  "rules": {
    "no-unused-vars": "warn",
    "jsx-a11y/anchor-is-valid": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
