{
  "extends": "@imaginary-cloud/react",
  "rules": {
    "no-unused-vars": "warn",
    "anchor-is-valid": "warn,"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
